<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperança Brasil - Faça Parte</title>
    <link rel="shortcut icon" type="image/x-icon" 
    href="../img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
</head>
<body>
    
<div class="container">
    <div class="divlogo">
        <img class="logo" src="../img/logo.jpg" alt="">
    </div>
    <nav class="navbar">
        <ul class="space"><a href="./quemsomos.html">QUEM SOMOS</a></ul>
        <ul class="space"><a href="./nossahistoria.html">NOSSA HISTÓRIA</a></ul>
        <ul class="space"><a href="./doacao.html">FAÇA PARTE</a></ul>
        <ul class="space"><a href="./contato.html">CONTATO</a></ul>
    </nav>
</div>


</body>
</html>
